<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center">Add Product</h2>
        <form action="/admin/add-product" enctype="multipart/form-data" method="POST">
          <div class="form-group">
            <label for="formGroupExampleInput">Name</label>
            <input type="text" name="Name" class="form-control" required>
          </div>

          <div class="form-group">
            <label>Price</label>
            <input type="number" name="Price" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Description</label>
            <input type="text" name="Description" class="form-control" required>
          </div>

          <div class="form-group">
            <div class="image-processing">
              <img src="/product-images/{{product._id}}.jpg" alt="" id="imgView"
                class="pt-3">
            </div>
            <input type="file" name="Image" class="form-control" onchange="viewImage(event)" required>
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select class="custom-select mr-sm-2" name="category" id="inlineFormCustomSelect" required>
              <option selected value="">Choose...</option>
              {{#each category}}
              <option value="{{this._id}}">{{this.name}}</option>
              {{/each}}
            </select>
          </div>
          <button type="submit" class='btn btn-success mt-0'>submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
<script>
  function viewImage(event) {
    document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
  }
</script>

<style>
    .image-processing img {
    max-width: 100%;    /* Make sure the image doesn't exceed the container's width */
    max-height: 100px;   /* Set the maximum height */
    object-fit: contain; /* Ensure the image fits within the given space while preserving its aspect ratio */
    width: auto;        /* Adjust the width automatically to maintain the aspect ratio */
    height: auto;       /* Adjust the height automatically to maintain the aspect ratio */
    transition: 300ms;
}
</style>