<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <h2>Create Admin Account</h2>
            <form action="/admin/signup" method="post">
                <label for="name">Name</label>
                <input type="text" name="Name" placeholder="Name" class="form-control">
                <label for="email">Email</label>
                <input type="email" name="Email" placeholder="Email" class="form-control">
                <input type="text" name="Date" id="" value="" hidden>
                 <label>Admin Code</label>
                    <input type="password" class="form-control" name="Code" placeholder="Code">
                <label for="password">Password</label>
                <input type="password" name="Password" placeholder="Password" class="form-control"><br>
                 {{#if signUpErr}}
            <p class="error" style="color: #ef3939;">{{signUpErr}}</p>
            {{/if}}
                <a href="/admin/login" class="float-right text-decoration-none">Already have account?</a><br>
                <button type="submit" class="btn btn-success">SUBMIT</button>
            </form>
        </div>
    </div>
</div>

