
 <header style="padding-bottom: 55px;">
        <nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top"  >
            <a class="navbar-brand text-decoration-none" href="/">MyeCart</a>
            <a class="ml-auto text-decoration-none" style="color: #fff  padding-right: 5px;" href="/cart"><i class="fas fa-shopping-cart text-white" style="font-size:20px;"></i><span class="badge badge-success" id="cart-count">{{cartCount}}</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
 
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="#">Products<span class="sr-only">(current)</span></a>
                    </li>
                    
                    {{#if user}}
                         <li class="nav-item">
                           <a class="nav-link text-decoration-none" href="/orders">Orders</a>
                          </li>
                  {{/if}}
                </ul>

          <form class="form-inline my-0 my-lg-0" action="/search-products"  method="POST">
 <div class="input-group">
               <input aria-label="Search" class="form-control" onkeyup="showResults(this.value)" name="searchValue" placeholder="Search Product" type="search"/>
               <span class="group-btn">
                  <button class="btn " style="border-radius: 2px; background-color: #00CED1; color:#fff" type="submit"><i class="fas fa-search"></i></button>
               </span>
           </div>
  
      <div style="position: relative;width: 100%;top:-1px">
        <div class="border" id="search-results">
        </div>
      </div>
    </form>
  <div class="dropdown">
  <button class="btn btn-info dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{#if user}}
         {{user.Name}}
    {{else}}                      
          Account
    {{/if}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {{#if user}}
      <a class="dropdown-item" href="/logout">Logout</a> 
      {{else}}
    <a class="dropdown-item" href="/login">Login</a>
    <a class="dropdown-item" href="/signup">Signup</a>   
    {{/if}}       
  </div>
</div>
            </div>
        </nav>
    </header>
<style>
 /*Style for search Input box,search button and search suggestion*/
nav .form-control {
  border-radius:5px;
  transition: 200ms ease-in-out;
  /* border: 0;/ */
}
nav .form-control:focus {
  border-color: #ddd;
  /* outline: #f8f9fa; */
  box-shadow: 0 0 0.0rem 0.05rem rgba(35, 39, 43, 0.4);
  /* border: 0; */
  /* background: #f8f9fa; */
  /*width: 450px;*/
}
.form-control {
  border-radius: 0px;
  transition: 200ms ease-in-out;
}
.form-control:focus {
  border-color: #ddd;
  outline: #f8f9fa;
  box-shadow: 0 0 0rem 0rem rgba(35, 39, 43, 0.4);
  /* background: #f8f9fa; */
  /*width: 450px;*/
}
/* VENDOR CODEPEN CODE FROM THE INTERNET */

.group {
  position: relative;
 /* margin-bottom: 45px;*/
  width: 100%;
  min-width: 280px;
}
/* active state */

input:focus~.highlight {
  animation: inputHighlighter 0.4s ease-out;
  border-radius: 20px;
}
/* ANIMATIONS ================ */

@keyframes inputHighlighter {
  from {
    background: #868e96;
  }
  to {
    width: 100%;
    background: transparent;
  }
}
/* js update */

/* active state */

input:focus~label, input:valid~label {
  top: -20px;
  font-size: 14px;
  color: #343a40;
}
/* END VENDOR CODE FROM THE CODEPEN */

a {
  color: #a3a3a3;
}
a:hover {
  color: #444
}
#loader {
  display: none;
}
#tab {
  top: 0;
  /* left: 15px; */
  /* right: 25px; */
  /* width: calc(100% - 30px); */
  /* width: calc(100% - 30px); */
  background: #fff;
  z-index: 1000;
  /* box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1); */
}
/* SCROLL FIX */

*::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
  /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
  border-radius: 0px;
  background-color: #fff;
}
*::-webkit-scrollbar {
  width: 2px;
  border-radius: 4px;
  background-color: #fff;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);*/
  /*box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);*/
  background-color: #ddd;
}
/* END SCROLL FIX */

a {
  /*color: #00B7FF;*/
}
#search-results {
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 100;
  width: 100%;
  background: white;
  max-height: 350px;
  position: absolute;
  top: 5px;
  left: 0;
  display: none;
}
#hero {
  margin-bottom: 15px;
  height: 250px;
  overflow: hidden
}
</style>