<section>
  <div class="container-fluid">
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-12 text-center">
          <h5>
            Order Placed Successfully
          </h5>
          <a href="/orders" class="btn btn-primary btn-sm">
            View Order
          </a>
        </div>
      </div>
    </div>
  </div>
</section>