<section>
    <div class="row">
        <div class="container-fluid">
            <div class="col-md-12 text-center">
                <h4 class="text-center">Order Placed Successfully</h4>
                <a href="/orders" class="btn btn-primary mt-3" ><b>View Order</b></a>
            </div>
        </div>
    </div>
</section>